header {
    float: left;
    margin:0 0 30px 0;
    padding: 5px 0 0 0 ;
    width: 100%;
  }

#goal {
  font-size: 18px;
}
#favorite {
  font-size: 18px;
}
#cost {
  font-size: 18px;
}
#food {
  font-size: 18px;
}
#passport {
  font-size: 18px;
}
#output {
  display: none;
}
